@font-face {
    font-family: Jurassic-Park;
    src: local("Jurassic-Park"), local("Jurassic-Park"), url(../fonts/Jurassic-Park.ttf);
    font-weight: normal;
}

::selection {
    background-color: rgba(252, 61, 61, 0.70);
    color: black;
}

:focus {
outline: 0 !important;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    cursor: default;
}

body,
#background_video,
#video_cover {
    background-color: black;
}

.audio {
  display: none;
}

#container,
#background_video,
#video_cover,
#overlay,
#footer {
    position: absolute;
}

#main_content h1,
#main_content h1 span,
#links a,
p.question,
button.confirm {
text-transform:uppercase;
}

#container {
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}

#background_video {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.15);
    -webkit-filter: blur(3px) saturate(0%) hue-rotate(-345deg);
    -o-filter: blur(3px) saturate(0%) hue-rotate(-345deg);
    -ms-filter: blur(3px) saturate(0%) hue-rotate(-345deg);
    filter: blur(3px) saturate(0%) hue-rotate(-345deg);

}

#video_cover {
    width: 100%;
    height: 100%;
    background: url('../multimedia/film-preview.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

#overlay {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.50);
}

#main_content {
    z-index: 2;
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
#main_content h1,
#main_content h1 span,
#main_content .sub_head,
#main_content .info,
#links p,
.card h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.65);
}

#main_content h1 {
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px margin: 0;
}

#main_content h1 span {
    text-transform: uppercase;
    color: white;
    font-size: 160px;
    font-family: 'Jurassic-Park' !important;
    font-weight: 400;
    line-height: 125px;
}

#main_content .sub_head {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    width: 588px;
    text-align: center;
}

#main_content .info {
    color: rgba(255, 255, 255, 0.25);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 8px;
}

#links {
    margin-top: 15px;
}

#links p {
    color: rgba(252, 61, 61, 0.70);
    font-size: 21px;
    font-weight: 400;
    line-height: 40px;
}

#links a {
    border: 2px solid rgba(255, 255, 255, 0.20);
    border-radius: 61px;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 25px;
    display: inline-block;
    margin-right: 5px;
    -webkit-transition: 0.2s ease-out;
    -mz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

#links a:last-child {
    margin-right: 0px;
    margin-left: 5px;
}

#links a:hover {
    border: 2px solid rgba(252, 61, 61, 0.70);
    color: rgb(252, 61, 61);
}

#footer {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.40);
    height: 25px;
    /*background: black;*/
    padding-top: 25px;
    bottom: 0px;
    z-index: 9999;
}

#footer a {
    color: rgba(252, 61, 61, 0.70);
    text-decoration: none;
    font-size: 12px;
    font-family: 'Montserrat';
}

/* Sweet Alert Customize*/
#game-card {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: 2s ease-out;
    z-index: 99999;
    overflow: hidden;
    width: 478px;
    padding: 17px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -256px;
    margin-top: -270px;
    height: 540px;
}

#game-card-overlay::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(3px) saturate(50%);
    opacity: 0.3;
    display: block;
}

.card-bg-1::after {
  background-image: url(../multimedia/header-1.jpg);
}

.card-bg-2::after {
  background-image: url(../multimedia/header-2.jpg);
}

.card-bg-3::after {
  background-image: url(../multimedia/header-3.jpg);
}

.card-bg-4::after {
  background-image: url(../multimedia/header-4.jpg);
}

.card-bg-5::after {
  background-image: url(../multimedia/header-5.jpg);
}

.card-bg-6::after {
  background-image: url(../multimedia/header-6.jpg);
}

.card-bg-7::after {
  background-image: url(../multimedia/header-7.jpg);
}

.card-bg-8::after {
  background-image: url(../multimedia/header-8.jpg);
}

.card-bg-9::after {
  background-image: url(../multimedia/header-9.jpg);
}

.card-bg-10::after {
  background-image: url(../multimedia/header-10.jpg);
}

/*.records-list {
  background-image: url(../multimedia/header-list.jpg);
}
*/

#game-card label {
    display: block;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
    width: 100%;
    margin: 0px !important;
    color: white;
    margin-top: 10px !important;
    font-size: 16px;
    transition: 0.2s ease-out;
    border-radius: 5px;
  }

#game-card label:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#game-card input[type="radio"]:checked + label{
background-color: rgba(255, 255, 255, 0.10);
transition: 0.2s ease;
}

#game-card input[type="radio"]:checked + label p {
color:white;
}

#game-card fieldset,
#game-card h2,
#game-card input[type=radio] {
  display: none;
}

.time-left {
    width: 140px;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    margin: auto;
    top: 0px;
    height: 45px;
    font-size: 25px;
    line-height: 44px;
    right: 169px;
    border-radius: 5px 0px 5px 0px;
}

.score {
    width: 140px;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    margin: auto;
    top: -45px;
    height: 45px;
    font-size: 25px;
    line-height: 44px;
    left: 169px;
    border-radius: 0px 5px 0px 5px;
}

.score span:last-child {
    font-size: 15px;
}

.question-header {
    width: 100%;
    top: -90px;
    position: relative;
    z-index: -1;
    height: 245px;
}

.question-header img {
width: 100%;
border-radius: 5px;
}

p.question{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    top: -75px;
    padding: 5px;
    position: relative;
    display: inline;
}

.answer {
color: rgba(255, 255, 255, 0.65);
height: 35px;
line-height: 35px;
}

.answers {
    display: block;
    height: 90px;
    top: -60px;
    position: relative;
}

.confirm-container {
  display: inline-block;
      position: relative;
}

#confirm {
    font-size: 17px;
    font-weight: 500;
    padding: 10px 32px;
    margin: 35px 5px 0 5px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.9) !important;
    background-color: rgba(255, 255, 255, 0.25) !important;
    font-weight: 800;
    transition: 0.2s ease;
    border: none !important;
    letter-spacing: 1px;
}

#confirm:hover {
    background-color: rgb(255, 255, 255) !important;
    color: black !important;
}

#confirm:disabled {
  background-color: rgba(255, 92, 92, 0.5) !important;
  color: white !important;
}

#notification {
position: absolute;
z-index: 99999;
background-color: rgb(255, 92, 92);
width: 250px;
text-align: center;
font-size: 15px;
color: white;
padding: 25px;
top: 50%;
margin-left: -150px;
margin-top: -35px;
left: 50%;
display:none;
}

/* Contratulations Card */

#congratulations-card {
  z-index: 8888;
  top:0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
}

#congratulations-card::after {
  content: '';
  z-index: 8888;
  top:0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  -webkit-filter: blur(1px) saturate(50%);
  background-image: url(../multimedia/congratulations-bg.jpg);
  background-size: cover;
  background-position: bottom center;
  opacity: 0.3;
}

#congratulations-card .card {
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
  width: 500px;
  height: 350px;
  top: 50%;
  left: 50%;
  margin-top: -175px;
  margin-left: -275px;
  padding: 30px 25px 25px 25px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.50);
  transform: scale(0);
  transition: 0.6s ease-out;

}

#congratulations-card .card h2 {
  font-family: 'Jurassic-Park' !important;
  /*color: rgba(252, 61, 61, 0.70);*/
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  font-size: 90px;
  font-weight: 400;
  margin-bottom: 0px;
  position: absolute;
  margin-top: -125px;
  text-align: center;
}

#congratulations-card .card:first-child > p {
  color: rgba(255, 255, 255, 0.9);
  text-align: justify;
  font-size: 16px;
  margin-bottom: 25px;
}

#congratulations-card .card h3 {
  color: rgba(252, 61, 61, 0.70);
  text-align: left;
  margin-bottom: 10px;

}

#congratulations-card .card ul {
  position: relative;
  width: 100%;
  margin: 0px;
  padding: 0px;
  list-style: none;

}

#congratulations-card .card ul li {
  text-align: left;
  font-size: 16px;
  margin-bottom: 5px;
  color:rgba(255, 255, 255, 0.9);
}

#congratulations-card .card hr {
    padding: 0px;
    border: none;
    height: 1px;
    background-color: rgba(255,255,255,0.90);
    margin: 10px 0 10px 0px;
}

#congratulations-card .card ul li p {
  display: inline-block;
  text-align: left;
}

#congratulations-card .card ul li span {
  text-align: left;
  float: right;
  color: rgba(255, 255, 255, 0.9);
}

#congratulations-card .card ul li:last-child p {
color:rgba(255, 255, 255, 0.9);
text-transform: uppercase;
}

#congratulations-card .card ul li:last-child span {
color: rgba(252, 61, 61, 0.70);
font-size: 18px;
}

#congratulations-card button {
font-size: 17px;
margin: 80px 5px 0px 5px;
cursor: pointer;
font-weight: 800;
border: none !important;
border: 2px solid rgba(255, 255, 255, 0.7) !important;
border-radius: 61px;
color:rgba(255, 255, 255, 0.7);
letter-spacing: 1px;
text-transform: uppercase;
padding: 10px 25px;
display: inline-block;
margin-right: 5px;
-webkit-transition: 0.2s ease-out;
-mz-transition: 0.2s ease-out;
-o-transition: 0.2s ease-out;
transition: 0.2s ease-out;
background-color: transparent;

}

#congratulations-card button:hover {
    border: 2px solid rgba(252, 61, 61, 0.70) !important;
    color: rgb(252, 61, 61);
}

#incorrect {
    font-size: 17px;
    font-weight: 500;
    padding: 10px 32px;
    margin: 35px 5px 0 5px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.9) !important;
    background-color: rgba(252, 61, 61, 0.7) !important;
    font-weight: 800;
    transition: 0.2s ease;
    border: none !important;
    letter-spacing: 1px;
    z-index: 9999;
    display: none;
}

/* VER RECORDS */
#record-list {
  z-index: 8888;
  top:0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
}

#record-list::after {
  content: '';
  z-index: 8888;
  top:0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  -webkit-filter: blur(1px) saturate(50%);
  background-image: url(../multimedia/records-bg.jpg);
  background-size: cover;
  background-position: bottom center;
  opacity: 0.3;
}

#record-list .card {
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
  width: 500px;
  height: 450px;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -275px;
  padding: 30px 25px 25px 25px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.50);
  transform: scale(1);
  transition: 0.6s ease-out;

}

#record-list .card h2 {
  font-family: 'Jurassic-Park' !important;
  /*color: rgba(252, 61, 61, 0.70);*/
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  font-size: 90px;
  font-weight: 400;
  margin-bottom: 0px;
  position: absolute;
  margin-top: -125px;
  text-align: center;
  margin-left: 90px;
}

#record-list .card:first-child > p {
  color: rgba(255, 255, 255, 0.9);
  text-align: justify;
  font-size: 16px;
  margin-bottom: 25px;
}

#record-list .card h3 {
  color: rgba(252, 61, 61, 0.70);
  text-align: left;
  margin-bottom: 10px;

}

#record-list .card ul {
  position: relative;
  width: 100%;
  margin: 0px;
  padding: 0px;
  list-style-type: decimal;
  list-style-position: inside;
  margin-top: 10px;
}

#record-list .card ul li {
  text-align: left;
font-size: 16px;
margin-bottom: 5px;
color: rgba(255, 255, 255, 0.2);
height: 20px;
width: 490px;
background: rgba(0, 0, 0, 0.07);
border-radius: 5px;
padding: 5px;
padding-left:10px;
transform: scale(1);
transition: 0.3s ease-out;
}

#record-list .card ul li:hover {
  transform: scale(1.03);
  background-color: rgba(255, 255, 255, 0.08);
}

#record-list .card hr {
    padding: 0px;
    border: none;
    height: 1px;
    background-color: rgba(255,255,255,0.90);
    margin: 10px 0 10px 0px;
}

#record-list .card ul li p {
  display: inline-block;
  text-align: left;
}

#record-list .card ul li span {
  text-align: left;
  color: rgba(255, 255, 255, 0.9);
}

#record-list .card ul li:last-child p {
color:rgba(255, 255, 255, 0.9);
text-transform: uppercase;
}

#record-list .card ul li span:last-child {
color: rgba(252, 61, 61, 0.70);
font-size: 18px;
float: right;
margin-right:5px;
}

#record-list button {
font-size: 17px;
margin: 0px 5px 0px 5px;
cursor: pointer;
font-weight: 800;
border: none !important;
border: 2px solid rgba(255, 255, 255, 0.7) !important;
border-radius: 61px;
color:rgba(255, 255, 255, 0.7);
letter-spacing: 1px;
text-transform: uppercase;
padding: 10px 25px;
display: inline-block;
margin-right: 5px;
-webkit-transition: 0.2s ease-out;
-mz-transition: 0.2s ease-out;
-o-transition: 0.2s ease-out;
transition: 0.2s ease-out;
background-color: transparent;

}

#record-list button:hover {
    border: 2px solid rgba(252, 61, 61, 0.70) !important;
    color: rgb(252, 61, 61);
}

/* New Record Card */
#new-record {
  z-index: 8888;
  top:0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
}

#new-record::after {
  content: '';
  z-index: 8888;
  top:0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  -webkit-filter: blur(1px) saturate(50%);
  background-image: url(../multimedia/new-record-bg.jpg);
  background-size: cover;
  background-position: right center;
  opacity: 0.3;
}

#new-record .card {
  z-index: 9999;
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    width: 500px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -275px;
    padding: 30px 25px 25px 25px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.50);
    transform: scale(1);
    transition: 0.6s ease-out;

}

#new-record .card h2 {
  font-family: 'Jurassic-Park' !important;
  /*color: rgba(252, 61, 61, 0.70);*/
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  font-size: 90px;
  font-weight: 400;
  margin-bottom: 0px;
  position: absolute;
  margin-top: -125px;
  text-align: center;
}

#new-record .card:first-child > p {
  color: rgba(255, 255, 255, 0.9);
text-align: justify;
font-size: 16px;
margin-bottom: 40px;
}

#new-record .card h3 {
  color: rgba(252, 61, 61, 0.70);
  text-align: left;
  margin-bottom: 10px;

}

#new-record .card ul {
  position: relative;
  width: 100%;
  margin: 0px;
  padding: 0px;
  list-style: none;

}

#new-record .card ul li {
  text-align: left;
  font-size: 16px;
  margin-bottom: 5px;
  color:rgba(255, 255, 255, 0.9);
}

#new-record .card hr {
    padding: 0px;
    border: none;
    height: 1px;
    background-color: rgba(255,255,255,0.90);
    margin: 10px 0 10px 0px;
}

#new-record .card ul li p {
  display: inline-block;
  text-align: left;
}

#new-record .card ul li span {
  text-align: left;
  float: right;
  color: rgba(255, 255, 255, 0.9);
}

#new-record .card ul li:last-child p {
color:rgba(255, 255, 255, 0.9);
text-transform: uppercase;
}

#new-record .card ul li:last-child span {
color: rgba(252, 61, 61, 0.70);
font-size: 18px;
}

#new-record button {
  font-size: 17px;
      margin: 0px 5px 0px 5px;
      cursor: pointer;
      font-weight: 800;
      border: 2px solid rgba(255, 255, 255, 0.7) !important;
      border-radius: 61px;
      color: rgba(255, 255, 255, 0.7);
      letter-spacing: 1px;
      text-transform: uppercase;
      padding: 10px 25px;
      display: inline-block;
      margin-right: 5px;
      -webkit-transition: 0.2s ease-out;
      -mz-transition: 0.2s ease-out;
      -o-transition: 0.2s ease-out;
      transition: 0.2s ease-out;
      background-color: transparent;
      float: right;

}

#new-record button:hover {
    border: 2px solid rgba(252, 61, 61, 0.70) !important;
    color: rgb(252, 61, 61);
}

#new-record input {
  width: 280px;
  height: 14px;
  border-radius: 25px;
  border: none;
  padding: 15px;
  text-align: center;
  outline: 0 !important;
  float: left;
}

#new-record input:focus {
    outline: 0 !important;
    color: white;
    background-color: rgba(255, 255, 255, 0.06);
}

#new-record input:focus::-webkit-input-placeholder {
  transition: 0.3s;
  opacity: 0 !important;
}

#new-record input:focus::-mz-input-placeholder {
  transition: 0.3s;
  opacity: 0 !important;
}

#new-record input:focus::-o-input-placeholder {
  transition: 0.3s;
  opacity: 0 !important;
}
