@font-face {
    font-family: Jurassic-Park;
    src: local("Jurassic-Park"), local("Jurassic-Park"), url(../fonts/Jurassic-Park.ttf);
    font-weight: normal;
}

::selection {
    background-color: rgba(252, 61, 61, 0.70);
    color: black;
}

:focus {
outline: 0 !important;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

body,
#background_video,
#video_cover {
    background-color: black;
}

#container,
#background_video,
#video_cover,
#overlay,
#footer {
    position: absolute;
}

#main_content h1,
#main_content h1 span,
#links a,
p.question,
button.confirm {
text-transform:uppercase;
}

#container {
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}

#background_video {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-filter: blur(4px) saturate(50%);
    -o-filter: blur(4px) saturate(50%);
    -ms-filter: blur(4px) saturate(50%);
    filter: blur(4px) saturate(50%);
}

#video_cover {
    width: 100%;
    height: 100%;
    background: url('../multimedia/film-preview.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

#overlay {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.50);
}

#main_content {
    z-index: 2;
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

#main_content h1 {
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px margin: 0;
}

#main_content h1 span {
    text-transform: uppercase;
    color: white;
    font-size: 160px;
    font-family: 'Jurassic-Park' !important;
    font-weight: 400;
    line-height: 125px;
}

#main_content .sub_head {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    width: 588px;
    text-align: justify;
}

#main_content .info {
    color: rgba(255, 255, 255, 0.25);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 8px;
}

#links {
    margin-top: 15px;
}

#links p {
    color: rgba(252, 61, 61, 0.70);
    font-size: 21px;
    font-weight: 400;
    line-height: 40px;
}

#links a {
    border: 2px solid rgba(255, 255, 255, 0.20);
    border-radius: 61px;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 25px;
    display: inline-block;
    margin-right: 5px;
    -webkit-transition: 0.2s ease-out;
    -mz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

#links a:last-child {
    margin-right: 0px;
    margin-left: 5px;
}

#links a:hover {
    border: 2px solid rgba(252, 61, 61, 0.70);
    color: rgb(252, 61, 61);
}

#footer {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.20);
    height: 25px;
    background: black;
    padding-top: 25px;
    bottom: 25px;
}

#footer a {
    color: rgba(252, 61, 61, 0.50);
    text-decoration: none;
    font-size: 12px;
    font-family: 'Montserrat';
}

/* Sweet Alert Customize*/
.sweet-alert {
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 0px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.50);
    transition: 2s ease-out;
}

.sweet-overlay::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    background-image: url(../multimedia/header-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(3px) saturate(30%);
    transition: 0.3s;
}

/*.records-list {
  background-image: url(../multimedia/header-list.jpg);
}
*/

.sweet-alert label {
    display: block;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
    width: 100%;
    margin: 0px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    margin-top: 10px !important;
}

.sweet-alert input[type="radio"]:checked + label{
background-color: rgba(255, 255, 255, 0.10);
}

.sweet-alert input[type="radio"]:checked + label p {
color:white;
}

.sweet-alert fieldset,
.sweet-alert h2,
.sweet-alert input[type=radio] {
  display: none;
}

.time-left {
    width: 140px;
    background-color: rgba(0, 0, 0, 0.65);
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    margin: auto;
    top: 0px;
    height: 45px;
    font-size: 25px;
    line-height: 44px;
    right: 169px;
}

.score {
    width: 140px;
    background-color: rgba(0, 0, 0, 0.65);
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    margin: auto;
    top: -45px;
    height: 45px;
    font-size: 25px;
    line-height: 44px;
    left: 169px;
}

.score span:last-child {
    font-size: 15px;
}

.question-header {
    width: 100%;
    top: -90px;
    position: relative;
    z-index: -1;
    height: 245px;
}

.question-header img {
width: 100%;
}

p.question{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    top: -75px;
    padding: 5px;
}

.answers {
    display: block;
    height: 90px;
    top: -60px;
    position: relative;
}

button.confirm {
    border-radius: 0px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.9) !important;
    background-color: rgba(255, 255, 255, 0.65) !important;
    font-weight: 800;
    transition: 0.2s ease;
}

.sweet-alert button:hover {
    background-color: rgb(255, 255, 255) !important;
    color: black !important;
}
